<!DOCTYPE html>
<html lang="ja">
  <% include ../head %>
  <body>
    <% include ./header %>
    <h2><%= title %> - <%= admin_id %></h2>
    <p class="logout"><a href="/admin/logout">Sign out</a></p>
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Created at</th>
          <th>Modified at</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
      <% if (users.length) { %>
      <% users.forEach(function (user) { %>
      <tr>
        <td><a href="/admin/<%= user.user_id %>/detail"><%= user.user_id %></a></td>
        <td><%= user.created_at %></td>
        <td><%= user.modified_at %></td>
        <td>
          <form method="post" action="/user/delete">
            <input type="hidden" name="user_id" value="<%= user.user_id %>">
            <input type="submit" value="Delete" onclick="return confirm('<%= user.user_id %> を削除しますか？');">
          </form>
        </td>
      </tr>
      <% }) %>
      <% } %>
    </table>
  </body>
</html>
