<!DOCTYPE html>
<html lang="ja">
  <% include ../head %>
  <body>
    <% include ./header %>
    <h2><%= title %> - <%= user_id %></h2>
    <p class="logout"><a href="/admin/logout">Sign out</a></p>
    <table>
      <thead>
        <tr>
          <th>Presentation ID</th>
          <th>Created at</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
      <% if (presentations.length) { %>
      <% presentations.forEach(function (presentation) { %>
      <tr>
        <td><a href="/<%= presentation.user_id %>/<%= presentation.presentation_id %>/show" target="_blank"><%= presentation.presentation_id %></a></td>
        <td><%= presentation.created_at %></td>
        <td>
          <form method="post" action="/presentation/delete">
            <input type="hidden" name="user_id" value="<%= presentation.user_id %>">
            <input type="hidden" name="presentation_id" value="<%= presentation.presentation_id %>">
            <input type="submit" value="Delete" onclick="return confirm('<%= presentation.presentation_id %> を削除しますか？');">
          </form>
        </td>
      </tr>
      <% }) %>
      <% } %>
    </table>
    <p><a href="/admin">Back</a></p>
  </body>
</html>
