<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <h1> <%= user_id %></h1>
    <p><a href="/user/logout">Logout</a></p>
    <div id="presentationlist">
      <a href="/presentation/new">create presentation</a>
      <ul>
        <li><a href="/hoge/chikazawa/show">Presentation DEMO</a></li>
        <li><a href="/hoge/chikazawa/edit">Editor DEMO</a></li>
        <li><a href="/hoge/chikazawa/stat">Statistics DEMO</a></li>
      </ul>
      <% if (presentations.length) { %>
      <dl>
        <% presentations.forEach(function(presentation){ %>
        <dt><%= presentation.presentation_id %></dt>
        <dd><a href="/<%= presentation.user_id %>/<%= presentation.presentation_id %>/edit" target="_blank">Edit</a></dd>
        <dd><a href="/<%= presentation.user_id %>/<%= presentation.presentation_id %>/show" target="_blank">Show</a></dd>
        <dd><a href="/<%= presentation.user_id %>/<%= presentation.presentation_id %>/stat" target="_blank">Statistics</a></dd>
        <% }) %>
      </dl>
      <% } %>
    </div>
  </body>
</html>
