<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/mobile.css' media='screen and (max-width: 880px) and (min-width:5px)'>
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <h2><%= user_id %></h2>
    <p class="logout"><a href="/user/logout">Logout</a></p>
    <p class="button"><a href="/presentation/new" target="_blank">Create Presentation</a></p>
    <table>
      <thead>
        <tr>
          <th>Presentation ID</th>
          <th>Edit</th>
          <th>Show</th>
          <th>Statistics</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
      <% if (presentations.length) { %>
      <% presentations.forEach(function (presentation) { %>
      <tr>
        <td><%= presentation.presentation_id %></td>
        <td><a href="/<%= presentation.user_id %>/<%= presentation.presentation_id %>/edit" target="_blank">Edit</a></td>
        <td><a href="/<%= presentation.user_id %>/<%= presentation.presentation_id %>/show" target="_blank">Show</a></td>
        <td><a href="/<%= presentation.user_id %>/<%= presentation.presentation_id %>/stat" target="_blank">Statistics</a></td>
        <td>
          <form method="post" action="/presentation/delete">
            <input type="hidden" name="user_id" value="<%= presentation.user_id %>">
            <input type="hidden" name="presentation_id" value="<%= presentation.presentation_id %>">
            <input type="submit" value="Delete" onclick="return confirm('<%= presentation.presentation_id %> を削除しますか？');">
          </form>
        </td>
      </tr>
      <% }) %>
      <% } %>
    </table>
  </body>
</html>
