<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <h2><%= presentation_id %></h2>
    <p class="button"><a href="/<%= user_id %>/<%= presentation_id %>/show" target="_blank">Preview</a></p>
    <button id="change" class="disabled" disabled=true onclick="onSaveFile()">Save</button>
    <div id="editor"></div>

    <script src='/js/ace/ace.js'></script>
    <script src='/js/utils.js'></script>
    <script src='/js/editor.js?user_id=<%= user_id %>&presentation_id=<%= presentation_id %>'></script>
  </body>
</html>
