<!DOCTYPE html>
<html lang="ja">
  <% include ../head_pc %>
  <body>
    <% include ../header %>
    <h2><a href="/p/<%= user_id %>/<%= presentation_id %>/" target="_blank">User ID: <%= user_id %>, Presentation ID: <%= presentation_id %></a></h2>
    <p id="user-count"></p>
    <canvas id="canvas"></canvas>

    <script src='/js/graph.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/utils.js'></script>
    <script src='/js/statistics.js?user_id=<%= user_id %>&presentation_id=<%= presentation_id %>'></script>
  </body>
</html>
